@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.ttf');
    font-style: normal;
    font-weight: normal;
}

.btn-register {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-blue {
    color: #126FB7;
}

.bg-blue {
    background-color: #126FB7;
}

.btn-blue {
    background-color: #126FB7;
    color: #fff;
}

.text-gothic {
    font-family: 'CenturyGothic';
}

h1 {
    font-size: 2.6em;
    font-weight: bold;    
}

h2 {
    font-size: 2.6em;
    font-weight: bold;    
}

.med {
    padding-left: 35px;
}



/* .video {
    background-color: linear-gradient(#e66465, #9198e5);
} */


/* source {
    width: 20%!important;
} */

 .card img {
    width: 30%;
    text-align: center;
  }

 .card-services img{
    display:block;
    margin:auto;
    margin-top: 25px;
}

#fondo {
  opacity: 0.6;
  color: rgb(252, 4, 4);
}
.videoContainer 
{
  background-color: #126FB7;
  /* position: absolute; */
  min-width: 100%;
  height: 100%;
  border-radius: 0px;
padding: 0%;
  /* background-attachment: scroll; */
  /* overflow: hidden; */
}

 video 
{
    position: relative;
     min-width: 55%;
     max-width: 75%;
    min-height: 30%;
    z-index: 1;
    /* width: 30%;
    height: 30%; */
}
.videoContainer .overlay {
    background: black;
    opacity: 0.5;
    /* position: absolute; */
    min-width: 100%;
    min-height: 100%;
    z-index: 1; 
    text-align: center;
    margin: 0;
    padding: 0%;
  }

.spacing-section {
    margin-top:120px
  }

  .card-services {
    background-color: #DFF3F8;
    border-radius: 40px;
    /* width: 300px;  */
     
  }

  .card-body-services {
      /* background-color: #DFF3F8; */
    
     /* border: 2px solid #555;  */
     background: #ffffff;
     /* -moz-border-radius: 100px 100px 0 0; */
     /* -webkit-border-radius: 100px 100px 0 0; */
     border-radius: 300px 300px 80px 80px;
  }


  .card-text-services {
      text-align: center;
  }

  @media (min-width: 1000px) {
    .border-card {
        padding: 50px;
        border-radius: 300px 300px 300px 300px;
    }
    .colums-card {
      width: 80% !important;
      height: 95% !important;
    }
  }


  .background-section {
    background-color: #DFF3F8;
  }

  .btn-section-cards {
    border-radius: 20px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .btn-llamar {
      background-color: #fff;
      color: #000;
  }


  /*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#f3f3f3; min-height:250px; padding:2px 0px 0px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:rgb(0, 0, 0);}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.white_icon {
    color: white;
}

.list-icons li {
    display: inline;
    margin-right: 22px;
    font-size: 30px;
    text-align: center;
}

.margin-section {
  margin-top: 140px;
}

.font-size {
  font-size: 35px;
}

.column-img-footer {
  text-align: center;
}

.process { 
  background: #DFF3F8;
}

.font-size-pagos {
  font-size: 30px;
  margin-top: 15px;
}

.icons-pago {
  width: 85% !important;
}

@media (min-width: 1000px) {
  .img-information {
    width: 250%;
  }
}


@media (min-width: 768px) {
  .border-column {
    border-left: 1px solid #126FB7;
  }
}