@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.ttf');
    font-style: normal;
    font-weight: normal;
}

.btn-register {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-blue {
    color: #126FB7;
}

.btn-blue {
    background-color: #126FB7;
    color: #fff;
}

.text-gothic {
    font-family: 'CenturyGothic';
}

h1 {
    font-size: 2.6em;
    font-weight: bold;    
}

h2 {
    font-size: 2.6em;
    font-weight: bold;    
}

.med {
    padding-left: 35px;
}

.card {
    border-radius: 40px;
}

/* .video {
    background-color: linear-gradient(#e66465, #9198e5);
} */


/* source {
    width: 20%!important;
} */

.video-hero {
    background: tomato;
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .video-hero__cortinilla {
    background: rgba(0,0,0,0.7);
    height: 50vh;
    position: absolute;
    width: 100%;
    top: 0;
  }

  .card img {
    width: 20%;
    text-align: center;
  }

  img{
    display:block;
    margin:auto;
    margin-top: 25px;
}