@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.ttf');
    font-style: normal;
    font-weight: normal;
}

.btn-register {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-blue {
    color: #126FB7;
}

.btn-blue {
    background-color: #126FB7;
    color: #fff;
}

.text-gothic {
    font-family: 'CenturyGothic';
}

h1 {
    font-size: 2.7em;
    font-weight: bold;    
}

.med {
    padding-left: 35px;
}
